body.login_admin:before{content:" ";background:rgba(31,31,31,.7);min-height:100%;min-width:100%;position:absolute}body.login_admin{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}